/* index.css */
@import "tailwindcss";

@theme {
  --color-solana:#DC1FFF
}

@layer utilities {
  .solanaBg {
    @apply bg-gradient-to-r from-cyan-400 via-blue-900
  }

  .text-main {
    color: var(--color-chestnut);
  }
}

@layer base {
  button {
    @apply bg-gradient-to-br from-[#00FFA3] via-[#DC1FFF] to-[#0E0E2C] px-2 py-2 rounded-2xl mx-1 my-1
    hover:from-emerald-400 hover:via-purple-500 hover:to-purple-600 cursor-pointer
  }
}
