/* index.css */
@import "tailwindcss";

@theme {
  --color-solana:#DC1FFF
}

@utility flex-center {
  @apply flex justify-center items-center
}

@layer base {
  button {
    @apply bg-gradient-to-br from-[#00FFA3] via-[#DC1FFF] to-[#0E0E2C] px-2 py-2 rounded-2xl mx-1 my-1 font-semibold
    hover:from-emerald-400 hover:via-purple-500 hover:to-purple-600 cursor-pointer
  }

  label {
    @apply flex text-cyan-100 font-semibold
  }
  
  input {
    @apply bg-amber-50 rounded flex mb-2 border-2 border-transparent focus:border-emerald-900 focus:outline-none focus:border-2 focus-within:bg-amber-400 font-semibold
  }
}


/* Manual CSS */
.text-outline { text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
}



/* Loader */
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

